@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@keyframes blob {
  0% { 
    transform: translate(0px, 0px) scale(1);
  }
  33% { 
    transform: translate(30px, -50px) scale(1.1);
  }
  66% { 
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% { 
    transform: translate(0px, 0px) scale(1);
  }
}

@keyframes blob2 {
    0% { 
      transform: translate(0px, 0px) scale(1);
    }
    33% { 
      transform: translate(25px, 40px) scale(0.9);
    }
    66% { 
      transform: translate(-10px, -30px) scale(1.1);
    }
    100% { 
      transform: translate(0px, 0px) scale(1);
    }
  }

.animate-blob {
  animation: blob 7s infinite;
}

.animate-blob2 {
  animation: blob2 8s infinite;
}